<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'security' => array(
        'salt_key' => 'cf2a283c9e6d6e3306a2972b82e749070cc1c6c27c12cc026ae746c703ffcbcc',
        'iteration_count' => 8,
        'portable_hashes' => 0,
    ),
);
